<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - DbDiff</title>
    <meta name="viewport" content="initial-scale=1.0">
    <!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="./assets/css/knacss.css" media="all">
</head>
<body class="mw960p center">
    {% block contents %}{% endblock %}
</body>
</html>